<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 id="WebApp_ID" 
		 version="3.0">
	<display-name>j-biblio-session-2</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ClientCreate</display-name>
		<servlet-name>ClientCreate</servlet-name>
		<servlet-class>io.github.oliviercailloux.y2018.j_biblio_session_2.web.ClientCreate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SetDB1</display-name>
		<servlet-name>SetDB1</servlet-name>
		<servlet-class>io.github.oliviercailloux.y2018.j_biblio_session_2.jpa.servlets.SetDB1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SetDBVar</display-name>
		<servlet-name>SetDBVar</servlet-name>
		<servlet-class>io.github.oliviercailloux.y2018.j_biblio_session_2.jpa.servlets.SetDBVar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientCreate</servlet-name>
		<url-pattern>/ClientCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetDB1</servlet-name>
		<url-pattern>/SetDB1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetDBVar</servlet-name>
		<url-pattern>/SetDBVar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>